* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #BB7E8C;
  font-family: Arial, sans-serif;
  color: #191919;
}

.centrs {
  width: 98%;
  max-width: 1400px;
  margin: 0 auto;
}

.blok {
  background: #f2f2f2;
  border: 4px solid #553a41;
  padding: 15px;
  margin: 15px 0;
}
h1, h2, h3, p {
  color: #3A6EA5
}

.galvene {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 120px;
  width: auto;
  display: block;
}

.menu {
  list-style: none;
  display: flex;
  gap: 35px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 28px;
}

.menu a:hover {
  color: #bb7e8c;
}

.aktivs {
  border-bottom: 2px solid #bb7e8c;
}

.zaglavnijfon {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("./cocofothero.jpg") center/cover no-repeat;
}

.tekstscentrs {
  text-align: center;
}

.tekstscentrs h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #553a41;
}

.tekstscentrs p {
  font-size: 22px;
  margin-bottom: 15px;
}

.poga {
  display: inline-block;
  background: #bb7e8c;
  color: white;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 22px;
}

.poga:hover {
  background: #3a6ea5;
}

h1, h2 {
  color: #553a41;
  margin-bottom: 10px;
}

.linija {
  height: 4px;
  background: #ccc;
  margin: 10px 0 20px;
}

.tovari {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.tovar {
  text-align: center;
}

.kartinka {
  height: 180px;
  background: #ddd;
  margin-bottom: 10px;
  overflow: hidden;
}

.kartinka img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.stara {
  text-decoration: line-through;
  color: gray;
}

.footeris {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kontakti p {
  margin-bottom: 8px;
}

.meklesana {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.meklesana input {
  flex: 1;
  min-width: 220px;
  padding: 12px;
  border: 2px solid #553a41;
  font-size: 18px;
}

.filtrapoga {
  padding: 12px 18px;
  border: 2px solid #553a41;
  background: #bb7e8c;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.filtrapoga:hover {
  background: #3a6ea5;
}
